<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <header class="navbar-fixed">
    <nav class="row deep-green darken-3">
      <!-- Toolbar -->
      <div class="toolbar" role="banner">
        <a title="Welcome">
          <img title="Welcome" width="40" alt="SOS Logo" src="../../../assets/sos_logo_mini.jpg" /></a>
        <span>SEARCH ONLINE SUPERVISOR</span>
        <div class="pl"></div>
        <div class="spacer"></div>
        <a title="Home">
          <i class="material-icons icon-light">home</i>
        </a>
        <a title="Write to us">
          <i class="material-icons icon-light">email</i>
        </a>
        <a title="About SOS">
          <i class="material-icons icon-light">chrome_reader_mode</i>
        </a>
      </div>
    </nav>
  </header>

  <div class="valign-wrapper">
    <div class="content">
      <h1>Hello there! Welcome to SOS.</h1><br>
      <h3>What do you want to do?</h3>
      <div class="card-container">

        <a class="card">
          <i class="material-icons icon-dark">person_add</i>
          <span>Signup</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>

        <a class="card">
          <i class="material-icons icon-dark">person</i>
          <span>Signin</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>

      </div>
      <!-- Links -->
      <div class="card-container">
        <a class="circle-link" title="Very dissatisfied">
          <i class="material-icons">sentiment_very_dissatisfied</i>
        </a>

        <a class="circle-link" title="Dissatisfied">
          <i class="material-icons">sentiment_dissatisfied</i>
        </a>

        <a class="circle-link" title="Neutral">
          <i class="material-icons">sentiment_neutral</i>
        </a>

        <a class="circle-link" title="Satisfied">
          <i class="material-icons">sentiment_satisfied</i>
        </a>

        <a title="Very satisfied">
          <i class="material-icons">sentiment_very_satisfied</i>
        </a>
      </div>
      <!-- Footer -->
      <footer>
        Love SOS?&nbsp;
        <a> Share your feedback.</a>
      </footer>
    </div>
  </div>
</body>