<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a (click)="navigate('welcome')" title="Welcome">
    <img title="Welcome" width="40" alt="SOS Logo" src="../../../assets/sos_logo_mini.jpg" /></a>
  <span>SEARCH ONLINE SUPERVISOR</span>
  <div class="pl"></div>
  <div class="spacer"></div>
  <a (click)="navigate('home')" title="Home">
    <i class="material-icons icon-light">home</i>
  </a>
  <a (click)="contactUs()" title="Write to us">
    <i class="material-icons icon-light">email</i>
  </a>
  <a (click)="navigate('welcome')" title="Logout">
    <span class="material-icons icon-light">&#xe163;</span>
  </a>
</div>

<!-- Body of the content -->


<div>
  <div class="content left-div" style="float: left;">
    <p class="cursive left-end">Hey there, I'm Renuka!</p><br>
    <p><b class="bold">"Search Online Supervisor"</b> is a web based application, 
      which is designed for the students, who are facing difficulties in searching their own supervisors and examiners.</p>
      <p>Here, the students who have been registered can search whether the supervisors from the same domain
         are available or not and can send a request to them.</p>
      <p>This web application can help the students by reducing their efforts
      and time in searching for a supervisor, and it makes the process easy and flexible.</p><br>
      <p class="cursive">Thank you for visiting!</p>
  </div>
  <div class="vertical"></div>
  <div class="content right-div" style="float: right;">
  <img alt="owner" class="img" src="../../../assets/renuka.png" /><br>
    <table>
      <tr>
        <th><i class="material-icons">person</i></th>
        <td>Penke Renuka Lakshmi</td>
      </tr>
      <tr>
        <th><i class="material-icons">event</i></th>
        <td>4.3 years as a Software Developer</td>
      </tr>
      <tr>
        <th><i class="material-icons">email</i></th>
        <td>2018hw70064@wilp.bits-pilani.ac.in</td>
      </tr>
      <tr>
        <th><i class="material-icons">contact_phone</i></th>
        <td>+91 7330716811</td>
      </tr>
    </table>
  </div>
</div>